imgaug==0.2.6
tika
scikit-learn>=0.20.0
umap-learn>=0.5.0
numpy>=1.19.0
gensim>=4.0.0
networkx>=2.0.0
plotly>=5.0.0
urllib3
scipy
stopwordsiso
jsonpickle
jsons
Unidecode
Pillow
easygui
fastcluster
kaleido